
@{
    ViewData["Title"] = "Product";
}


<h3>Product</h3>
<div class="content">
    <div class="card">
            <div class="d-flex justify-content-left">
                <a href="#" class="btn btn-primary btn-labeled btn-labeled-right" id="BtnCreate"><b><i class="icon-plus2"></i></b>Add New</a>
            </div><br />
        <table class="table datatable-scroll-y" role="grid" id="myTable" width="100%">
            <thead style="background: #0098D7; color: #ffffff; ">
                <tr>
                    <th>No</th>
                    <th>Id</th>
                    <th>Nama</th>
                    <th>Harga</th>
                    <th>Deskripsi</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div id="DetailWindow"></div>
<div id="CreateWindow"></div>
<div id="EditWindow"></div>
<div id="DeleteWindow"></div>

@section Scripts
{
<script src="~/js/Product.js"></script>

}