@model LatihanSoal.Models.Pelanggan

<div class="card">
            <h4>Delete Pelanggan</h4>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormPelanggan", name = "FormPelanggan", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
    <div class="content">
        <div class="form-group row">
            <label class="col-form-label col-lg-4">Nama Pelanggan</label>
            <div class="col-lg-8">
                <label id="nama"></label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-lg-4">Alamat</label>
            <div class="col-lg-8">
                <label id="alamat"></label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-lg-4">Nomor Telepon</label>
            <div class="col-lg-8">
                <label id="noTelp"></label>
            </div>
        </div>
        <div class="card-footer text-right">
            <button type="submit" class="btn btn-danger btn-labeled btn-labeled-right" id="BtnSubmit"><b><i class="icon-paperplane"></i></b>Delete</button>
            <a href="#" class="btn btn-primary" id="BtnCancel">Cancel</a>
        </div>
    </div>
}
</div>


<script>
    var Pelanggan = (function (Pelanggan) {

        Pelanggan.closeWindow = function () {
            $("#DeleteWindow").data("kendoWindow").close();
        };

        Pelanggan.submit = function (e) {
            e.preventDefault();
            var url = "@Url.Action("Hapus")";
            var formData = new FormData(this);
         
            $.ajax({
                url: url,
                enctype: 'multipart/form-data',
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (result) {
                    if (result.isSucceed) {
                        $("#DeleteWindow").data("kendoWindow").close();
                        swal("Success", result.message, {
                            icon: "success"
                        }).then(function() {
                            window.location.reload();
                        });
                    }
                    else {
                        swal("Something Wrong", result.message, {
                            icon: "error"
                        });
                    }
                }
            });

        };

        return Pelanggan;
    })(Pelanggan || {});

    $(function () {
        $("#FormPelanggan").submit(Pelanggan.submit);
        $("#BtnCancel").click(Pelanggan.closeWindow);

        $.getJSON('https://localhost:7038/api/Pelanggan/'+@Model.Id, function(data) {
            
            document.getElementById("nama").innerHTML = data.nama;
            document.getElementById("alamat").innerHTML = data.alamat;
            document.getElementById("noTelp").innerHTML = data.noTelp;
        });

    });
</script>
